body {
    margin: 10px;
    background: darkslategray
}

p {
    background-color: wheat;
    margin: 0 5px
}

h1 {
    color: wheat
}

table {
    width: 100%;
    padding: 15px
}

#generate-btn {
    background-color: green
}